## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` library.

In [57]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [291]:
# Your code here
sample_list_1 = random.sample(range(101), 80)
print(sample_list_1)

[42, 84, 93, 32, 17, 97, 80, 30, 74, 78, 65, 50, 1, 79, 75, 89, 24, 98, 25, 12, 39, 51, 62, 41, 46, 59, 45, 23, 38, 35, 64, 33, 92, 95, 67, 27, 20, 61, 54, 76, 68, 52, 34, 90, 86, 11, 81, 40, 57, 55, 83, 37, 28, 82, 0, 99, 48, 47, 58, 7, 5, 56, 15, 6, 85, 73, 18, 100, 63, 69, 96, 66, 72, 87, 91, 43, 10, 71, 2, 31]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [292]:
# Your code here
set1 = set(sample_list_1)
print(set1)
print("The lenght of this set is: ", len(sample_list_1))

{0, 1, 2, 5, 6, 7, 10, 11, 12, 15, 17, 18, 20, 23, 24, 25, 27, 28, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 50, 51, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}
The lenght of this set is:  80

In [ ]:
# Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [293]:
# Your code here
sample_list_2 = []

for i in random.sample(range(101), 80):
    sample_list_2.append(i)
    
print(sample_list_2)

[78, 25, 29, 65, 89, 39, 90, 72, 45, 23, 3, 12, 54, 56, 48, 58, 31, 17, 97, 49, 88, 84, 57, 59, 5, 26, 96, 28, 92, 30, 19, 15, 44, 41, 10, 53, 27, 1, 20, 50, 77, 9, 42, 8, 87, 100, 0, 68, 71, 36, 60, 40, 64, 67, 86, 22, 16, 46, 69, 61, 99, 70, 2, 63, 94, 35, 43, 62, 21, 66, 91, 74, 52, 38, 81, 51, 13, 4, 33, 79]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [294]:
# Your code here
set2 = set(sample_list_2)
print(set2)
print(len(set2))

{0, 1, 2, 3, 4, 5, 8, 9, 10, 12, 13, 15, 16, 17, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 77, 78, 79, 81, 84, 86, 87, 88, 89, 90, 91, 92, 94, 96, 97, 99, 100}
80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [295]:
# Your code here
set3 = []

for i in set2:
    if i not in set1:
        set3.append(i)

print(set(set3))
print("The total elements not present in set 2 are: ", len(set3))

{3, 4, 8, 9, 13, 16, 19, 21, 22, 26, 29, 36, 44, 49, 53, 60, 70, 77, 88, 94}
The total elements not present in set 2 are:  20

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [296]:
# Your code here
set4 = []

for i in set1:
    if i not in set2:
        set4.append(i)

print(set(set4))
print("The total elements not present in set 1 are: ", len(set4))

{6, 7, 11, 18, 24, 32, 34, 37, 47, 55, 73, 75, 76, 80, 82, 83, 85, 93, 95, 98}
The total elements not present in set 1 are:  20

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [297]:
# Your code here

set5 = set1.intersection(set2)

print(set(set5))
print("The total elements present in set 5 are: ", len(set5))

{0, 1, 2, 5, 10, 12, 15, 17, 20, 23, 25, 27, 28, 30, 31, 33, 35, 38, 39, 40, 41, 42, 43, 45, 46, 48, 50, 51, 52, 54, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 74, 78, 79, 81, 84, 86, 87, 89, 90, 91, 92, 96, 97, 99, 100}
The total elements present in set 5 are:  60

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [298]:
# Your code here

len(set5) == len(set1) - len(set4)

True

#### Create an empty set called `set6`.

In [299]:
# Your code here
set6 = set()

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [300]:
# Your code here
set3 = set(set3)
set6 = set()

set6.update(set3, set5)
print(set6)

{0, 1, 2, 3, 4, 5, 8, 9, 10, 12, 13, 15, 16, 17, 19, 20, 21, 22, 23, 25, 26, 27, 28, 29, 30, 31, 33, 35, 36, 38, 39, 40, 41, 42, 43, 44, 45, 46, 48, 49, 50, 51, 52, 53, 54, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 74, 77, 78, 79, 81, 84, 86, 87, 88, 89, 90, 91, 92, 94, 96, 97, 99, 100}

#### Check if `set1` and `set6` are equal.

In [301]:
# Your code here
len(set1) == len(set6)

True

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [302]:
# Your code here
set2 = set(set2)
print(set2.issubset(set1))
print(set1.issubset(set3))

False
False

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [303]:
# Your code here

result_sets1 = set3.union(set4, set5)
print(result_sets1)

result_sets2 = set3.union(set4, set5, set1, set2)
print(result_sets2)

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}
{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100}

#### Using the `pop` method, remove the first element from `set1`.

In [304]:
# Your code here
for i in range(0,len(set1)):
    if i == 0:
        set1.pop()
print(set1)

{1, 2, 5, 6, 7, 10, 11, 12, 15, 17, 18, 20, 23, 24, 25, 27, 28, 30, 31, 32, 33, 34, 35, 37, 38, 39, 40, 41, 42, 43, 45, 46, 47, 48, 50, 51, 52, 54, 55, 56, 57, 58, 59, 61, 62, 63, 64, 65, 66, 67, 68, 69, 71, 72, 73, 74, 75, 76, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 89, 90, 91, 92, 93, 95, 96, 97, 98, 99, 100}

In [ ]:
# Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [317]:
# Your code here

list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
final_set1 = []

for i in set1:
    if i not in list_to_remove:
        final_set1.append(i)
print(set(final_set1))

{2, 5, 6, 7, 10, 12, 15, 17, 18, 20, 23, 24, 25, 27, 28, 30, 32, 33, 34, 35, 37, 38, 40, 42, 43, 45, 46, 47, 48, 50, 52, 54, 55, 56, 57, 58, 62, 63, 64, 65, 66, 67, 68, 72, 73, 74, 75, 76, 78, 80, 82, 83, 84, 85, 86, 87, 90, 92, 93, 95, 96, 97, 98, 100}