# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon['Legendary'].value_counts()

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [10]:
# Your code here:
legendary_flt = pokemon['Legendary'] == True
non_legendary_flt = pokemon['Legendary'] == False
leg_mean = pokemon[legendary_flt]['Total'].mean()
leg_std = np.std(pokemon[legendary_flt]['Total'])
non_leg_mean = pokemon[non_legendary_flt]['Total'].mean()
non_leg_std = np.std(pokemon[non_legendary_flt]['Total'])

In [17]:
print(f'-----> Legendary mean = {leg_mean}')
print(f'-----> Legendary standard deviation = {leg_std}')

-----> Legendary mean = 637.3846153846154
-----> Legendary standard deviation = 60.46682302213779

In [16]:
print(f'-----> Non legendary mean = {non_leg_mean}')
print(f'-----> Non legendary standard deviation = {non_leg_std}')

-----> Non legendary mean = 417.21360544217686
-----> Non legendary standard deviation = 106.68776660321979

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [19]:
# Your code here:
from scipy.stats import ttest_ind, ttest_rel, ttest_1samp

leg_pokemon = pokemon[legendary_flt]
non_leg_pokemon = pokemon[non_legendary_flt]
ttest_ind(leg_pokemon['Total'], non_leg_pokemon['Total'], equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [23]:
# Your conclusions here:

"""We can see that there is a difference between non-legendary and legendary pokemon points as p value is < than 0.05"""

'We can see that there is a difference between non-legendary and legendary pokemon points as p value is < than 0.05'

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [25]:
# Your code here:
pokemon['Type 1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [26]:
# Your code here:
water = pokemon['Type 1'] == 'Water'
non_water = pokemon['Type 1'] != 'Water'

water_mean = pokemon[water]['Total'].mean()
water_std = np.std(pokemon[water]['Total'])
non_water_mean = pokemon[non_water]['Total'].mean()
non_water_std = np.std(pokemon[non_water]['Total'])

In [30]:
print(f'-----> Water mean = {water_mean}')
print(f'-----> Water standard deviation = {water_std}')

-----> Water mean = 430.45535714285717
-----> Water standard deviation = 112.681828329091

In [31]:
print(f'-----> Non water mean = {non_water_mean}')
print(f'-----> Non water standard deviation = {non_water_std}')

-----> Non water mean = 435.85901162790697
-----> Non water standard deviation = 121.00364762501172

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [32]:
# Your code here:
ttest_ind(pokemon[water]['Total'], pokemon[non_water]['Total'], equal_var=True)

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [36]:
# Your conclusions here:
"""We can see that p value is higher than 0.05, therefore both comparisons are not different one from the other (water and non water)"""

'We can see that p value is higher than 0.05, therefore both comparisons are not different one from the other (water and non water)'

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [34]:
# Your code here:
pokemon.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [35]:
ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [37]:
# Your conclusions here:
"""We can see that p value is higher than 0.05, therefore, there is a difference between defense and attack"""

'We can see that p value is higher than 0.05, therefore, there is a difference between defense and attack'

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [38]:
# Your code here:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [39]:
# Your conclusions here:
"""In this case, p value is higher than 0.05, so there is not a difference between both values"""

'In this case, p value is higher than 0.05, so there is not a difference between both values'

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [40]:
# Your code here:
pokemon['Attack-Defense'] = pokemon['Attack'] - pokemon['Defense']
ttest_1samp(pokemon['Attack-Defense'], 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: